@charset "UTF-8";
/* fonts */
.tit96{font-size: 6rem;}
.tit72{font-size: 4.5rem;}
.tit48{font-size: 3rem;}
.tit40{font-size: 2.5rem;}
.tit36{font-size: 2.25rem;}
.tit32{font-size: 2rem;}
.tit30{font-size: 1.875rem;}
.tit24{font-size: 1.5rem;}
.tit20{font-size: 1.25rem;}
.tit18{font-size: 1.125rem;}
.small{font-size: 0.875rem;}

.point_font__main{font-family: 'Cafe24 Dangdanghae';}
.point_font__sub{font-family: "Cafe24 Ohsquare";}
.en{font-family: "Montserrat", sans-serif;}

.strong{font-weight: 700;}

.primary_color{color: #088C7F;}
.point_color__orange{color: #DE7860;}
.point_color__blue2{color: #1D4F91;}
.point_color__green{color: #53E3A6;}

.side_nav_area{width: 20%;position: fixed;z-index: 1000;padding: 15px 25px;height: 100vh;background: rgba(255, 255, 255, 0.09);box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);backdrop-filter: blur(9.4px);-webkit-backdrop-filter: blur(9.4px);border: 1px solid rgba(255, 255, 255, 0.58);}
.content{margin:63px auto 50px;display: table;}
.content a {color: #fff;font-size: 4em;display: inline-block;}
.content a:nth-child(1) {color: transparent;-webkit-text-stroke: 3px #333;}
.content a:nth-child(2) {color: #fff;animation: animate 4s ease-in-out infinite;}
@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}
.side_nav_area>ul{text-align: center;}
.side_nav_area>ul li{margin: 10px;}
.side_nav_area hr{width: 30%;background-color: peachpuff;}
.side_nav_area .copyright p{text-align: center;margin-top: 20px;}
.side_nav_area .copyright p{text-align: center;margin-top: 20px;}
.side_nav_area li a{color: #333;display: inline-block;padding: 10px;font-weight: bold;width: 150px;height: 30px;text-align: center;line-height: 30px;position: relative;}
.side_nav_area li a::after{content: '';position: absolute;left: 5px;width: 150px;height: 2px;background: #3d3d3d;color: #cc9872;transform: scaleX(0);transition: all .5s;transform-origin: left;bottom: 0;}
ul li.active a::after,ul li a:hover::after{transform: scaleX(1);}

.gnb_area {position: fixed; top: 0; z-index: 999999; width: 100%; background-color: rgba(255, 255, 255, 0.3); backdrop-filter: blur(16px); border: 1px solid rgba(255, 255, 255, 0.3); box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);}
.gnb_area .gnb_inner{max-width: 1400px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;}
.gnb_area .gnb_wrap{display: flex; justify-content: space-between; width: 30%;}
.gnb_area .gnb_wrap li a{display: block; padding: 27px 0;}

.main{width: 100vw;background: linear-gradient(180deg,rgba(239, 234, 226, 1) 0%, rgba(255, 255, 255, 1) 100%);height: 100vh;}
.main.section{padding: 0;}

.main_info{height: 100%;}
.main_info .main_info__txt{width: 100%;height: 100vh; display: flex; flex-direction: column; justify-content: center;}
.typing_container {color: #89B3A9;display: flex;align-items: center;font-size: 6rem; font-weight: 700;}
.Change:after {content: "|";margin-left: 5px;animation: blink 1s ease 0s normal infinite;color: #F7FFFD;}
@keyframes blink {
    0%,
    100% {
      color: #FFF9F7;
    }
    50% {
      color: transparent;
    }
}
.main .main_info__txt .text_wrap{line-height: 1.2;}
.main_info__txt .txt_wrap .slogun>p span{color: transparent;font-weight: bold;font-size: 6vmin;line-height: 9vmin;background: conic-gradient(#FFF9F7 12%, #89B3A9 12%,#89B3A9 33%,#F7FFFD 33%,#B3A19B 55%,#B3A19B 55%,#B3A19B 70%,#89B3A9 70%,#FFF9F7 87%,#F7FFFD 87%);background-size: 50%;background-clip: text;  -webkit-background-clip: text;animation: expand-rev 0.5s ease forwards;cursor: pointer;}
.main_info .txt_box .slogun>p span:hover {animation: expand 0.5s ease forwards;}
@keyframes expand {
  0% {
    background-size: 25%;
    background-position: 0 0;
  }
  20% {
    background-size: 50%;
    background-position: 0 1em;
  }
  100% {
    background-size: 400%;
    background-position: -10em -4em;
  }
}
  
@keyframes expand-rev {
  0% {
    background-size: 40%;
    background-position: -10em -4em;
  }
  20% {
    background-size: 50%;
    background-position: 0 1em;
  }
  100% {
    background-size: 25%;
    background-position: 0 0;
  }
}
.main_info .title_area h2{font-size: 3rem;}

.btn_wrap{padding-top: 50px; display: flex;}
.btn{box-shadow: 1px 1px 15px #d1d1d1; padding: 12px 24px;display: flex; font-weight: 600;font-size: 1.125rem; border-radius: 50px; width: 130px; border: 1px solid #088C7F;align-items: center; justify-content: space-between; margin-right: 10px;}
.btn .btn_icon{position: relative; width: 24px; height: 24px;}
.btn .btn_icon::after{position: absolute; content: ''; background-image: url(../img/arrow_right.png); display: inline-block; width: 24px; height: 24px;}

.section{width: 100%;position: relative; padding: 180px 0;}
.portfolio{display:flex;}

.section.about{background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(239, 234, 226, 1) 50%, rgba(255, 255, 255, 1) 100%);}
.section.about .about_wrapper{padding-bottom: 180px;}
.section.about .about_wrapper .point_font__main, .section.about .resume_wrapper .point_font__main{color: #333333;}
.section_subtit{margin-bottom: 60px;}
.section_subtit .tit18{border: 1px solid #088C7F; border-radius: 50px; padding: 8px 24px; color: #088C7F; width: 90px; text-align: center; margin-bottom: 12px;}

.about .about__bottom{display: flex;}
.about .about__bottom .about__bottom_left{width: 21.25%;}
.about .about__bottom .about__bottom_left .about__info_item{margin-bottom: 24px;}
.about .about__bottom .about__bottom_left .about__info_item .small{display: block; color: #666666; font-size: 1.125rem; font-weight: 400;}
.about .about__bottom .about__bottom_right{width: 70%;}
.about .about__bottom .about__bottom_right .about__txtarea{padding-bottom: 40px;}
.about .about__bottom .about__bottom_right .about__txtarea:nth-child(2){padding-bottom: 0px;}
.about .about__bottom .about__bottom_right .tit24{padding-bottom: 8px;}

.about .resume_wrapper .point_font__main{padding-bottom: 40px;}
.about .resume_wrapper .resume_education, .about .resume_wrapper .resume_work{margin-bottom: 80px;} 
.about .resume_wrapper .list_wrapper li{display: flex; border-top: 1px solid #CBCBCB; padding: 44px 0;}
.about .resume_wrapper .list_wrapper li:last-child{border-bottom: 1px solid #CBCBCB;}
.about .resume_wrapper .list_wrapper li .date{width: 20%; color: #666666;}
.about .resume_wrapper .list_wrapper li .title{width: 70%; font-weight: 700;}

.about .resume_wrapper .resume_tools .tools_list_wrap{display: flex; justify-content: space-between; flex-wrap: wrap;}
.about .resume_wrapper .resume_tools .tools_list_wrap li{width: 21.25%; border: 1px solid #D0D0D0; border-radius: 10px; display: flex; justify-content: center;  align-items: center; padding: 60px 0;}
.about .resume_wrapper .resume_tools .tools_list_wrap li:nth-child(-n+4){margin-bottom: 40px;}

/* project1 */
.project.section{background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(239, 234, 226, 1) 100%);}

.project .project_wrapper{display: flex; flex-wrap: wrap; justify-content: space-between;}
.project .project_wrapper .project_item{width: 48.5%; border: 1px solid #D0D0D0; border-radius: 20px; overflow: hidden;}
.project .project_wrapper .project_item:nth-child(-n+2){margin-bottom: 40px;}
.project .project_wrapper .project_item .content{padding: 30px 20px; display: block; margin: 0;}
.project .project_wrapper .project_item .content .content_title{margin-bottom: 24px;}
.project .project_wrapper .project_item .content .content_title .small{font-size: 0.875;}

.contact_area{padding: 80px 0; background: linear-gradient(180deg,rgba(239, 234, 226, 1) 0%, rgba(255, 255, 255, 1) 100%);}
.contact_area .contact_top{display: flex; justify-content: space-between; align-items: center}
.contact_area .contact_top .tit20{color: #666666;}
.contact_area .contact_txt{font-family: "DM Serif Display", serif; font-size: 10rem; font-weight: 600; margin-top: 200px; line-height: 1.2;}
.contact_area .contact_info{margin-top: 180px; text-align: right;}
.contact_area .contact_info .contact_info__list{display: flex; justify-content: flex-end; align-items: center;}
.contact_area .contact_info .contact_info__list .tit20{width: 5%; text-align: left;}

/* project page 헵시바f&b */
.subpage_main{width: 100%; height: 100vh; background-position: center center; background-repeat: no-repeat; background-size: cover;}
.subpage_main.project1{background-image: url(../img/hbfb-page_mainimg.png);}
.subpage_main .inner2{display: flex; justify-content: space-between; align-items: center; height: 100%;}
.subpage_main .overview_left{width: 39%; max-height: 657px; height: 100%; display: flex; flex-direction: column; justify-content: space-between;}
.subpage_main .overview_right{width: 55%;}
.subpage_main .overview_right .img_wrap{background-size: cover; background-repeat: no-repeat; background-position: center center;height: 450px;}
.subpage_main.project1 .overview_right .img_wrap{background-image: url(../project1-hfnb/projectpage_mainmockup__hb.png);}

.subpage_main .project_info_wrap li{display: flex; align-items: center; margin-bottom: 8px;}
.subpage_main .project_info_wrap li .project_info__title{font-weight: 600; width: 24%;}
.subpage_main .project_info_wrap li .project_info__program{display: flex;}
.subpage_main .project_info_wrap li .project_info__program li.icon{width: 48px; height: 48px; background-size: cover; background-position: center center; background-repeat: no-repeat;margin-bottom: 0;}
.subpage_main .project_info_wrap li .ai{background-image: url(../img/adobe_Illustrator_icon.png);}
.subpage_main .project_info_wrap li .ps{background-image: url(../img/adobe_Photoshop_icon.png);}
.subpage_main .project_info_wrap li .figma{background-image: url(../img/figma_icon.png);}
.subpage_main .project_info_wrap li .wordpress{background-image: url(../img/wordpress_icon.png);}

.subpage_intro{padding: 200px 0; background-image: url(../img/project1_intro.png); background-size: cover; background-repeat: no-repeat; background-position: center center; color: #ffffff; text-align: center;}
.subpage_intro .tit36{padding-bottom: 40px;}

.subpage_interview{padding: 200px 0; background-color: #F9F8F8;}
.subpage__titlewrap{display: flex; align-items: center; margin-bottom: 70px;}
.subpage__titlewrap .subpage__tit{padding-right: 40px;}
.subpage__titlewrap .subpage__txt{color: #555555;}
.subpage_interview__contents_wrap{display: flex; justify-content: space-between;}
.subpage_interview__contents_wrap .problem_item{display: flex; background-color: #ffffff; padding: 0 40px; border-radius: 20px; box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15); flex-direction: column; align-items: center; width: 25.75%; text-align: center; height: 350px; justify-content: center; transition: all .3s;}
.subpage_interview__contents_wrap .problem_item:hover{transform: translateY(-10px);}
.subpage_interview__contents_wrap .problem_item .problem_item__top{padding-bottom: 40px; line-height: 1.2;}

.subpage_strategy{padding: 200px 0; background-color: #C97561;}
.subpage_strategy .subpage__titlewrap .subpage__tit, .subpage_strategy .subpage__titlewrap .subpage__txt{color: #EFECEC;}
.subpage_strategy .subpage_strategy__issue_txt{width: 400px; height: 110px; position: relative; background-color: #AD5D4B; border-radius: 20px; color: #ffffff; padding: 20px; text-align: center; display: flex; align-items: center; margin-bottom: 44px; box-shadow: 0 1px 10px rgba(99, 54, 44, 0.2); justify-content: center;}
.subpage_strategy .subpage_strategy__issue_txt::after{position: absolute;     content: ""; border-top: 20px solid #AD5D4B;border-left: 20px solid transparent;border-right: 20px solid transparent;border-bottom: 0px solid transparent;bottom: -22px;left: 50%;transform: translateX(-50%) translateY(-50%);}
.subpage_strategy.project1 .subpage_strategy__issue_txt::after{border-top: 20px solid #AD5D4B;}
.subpage_strategy .subpage_strategy__solution_wrap{display: flex; justify-content: space-between;}
.subpage_strategy .subpage_strategy__solution_wrap .subpage_strategy__solution_txt{width: 400px; height: 210px; padding: 20px; text-align: center; background-color: #ffffff; border-radius: 20px; display: flex; flex-direction: column; justify-content: center; box-shadow: 0 1px 10px rgba(99, 54, 44, 0.2); transition: all .3s;}
.subpage_strategy .subpage_strategy__solution_wrap .subpage_strategy__solution_txt:hover{transform: translateY(-10px);}
.subpage_strategy .subpage_strategy__solution_wrap .subpage_strategy__solution_txt .small_tit{padding-bottom: 12px;}
.subpage_strategy .subpage_strategy__solution_wrap .subpage_strategy__solution_txt .tit32{padding-bottom: 4px;}


.subpage_typography_color{padding: 200px 0; background-color: #F9F8F8;}
.subpage_typography_color .typography_item{display: flex; margin-bottom: 80px;}
.subpage_typography_color .typography_item.main_type{font-family: "Noto Sans KR", sans-serif;}
.subpage_typography_color .typography_item .subtitle{width: 9%; padding-top: 1.2%;}
.subpage_typography_color .typography_item .typography_wrap, .subpage_typography_color .typography_item .typography_weight{width: 40%; color: #333333;}
.subpage_typography_color .typography_item .typography_weight{line-height: 1.2;}
.subpage_typography_color .typography_item .typography_wrap .tit18{width: 78.5%;}
.subpage_typography_color .typography_item .typography_weight .light{font-weight: 300;}
.subpage_typography_color .typography_item .typography_weight .bold{font-weight: 700;}

.subpage_typography_color .typography_item.point_type{font-family: "Cafe24 Ssurround", sans-serif; margin-bottom: 0;}
.subpage_typography_color .typography_item.point_type .subtitle{font-family: 'SUIT', sans-serif;}
.subpage_typography_color .typography_item.point_type .typography_wrap .tit18{font-family: 'SUIT', sans-serif; letter-spacing: -1.5px;}
.subpage_typography_color .color_chip__wrapper{margin-top: 180px;}
.subpage_typography_color .color_chip__wrapper .color_chip_wrap {display: flex; box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15); border-radius: 10px; overflow: hidden;}
.subpage_typography_color .color_chip__wrapper .color_chip_wrap .color_chip{height: 170px; padding: 20px; display: flex; flex-direction: column;     justify-content: space-between;}
.subpage_typography_color .color_chip__wrapper .color_chip_wrap .color_chip.primary{width: 440px;background-color: #DE7860; color: #ffffff;}
.subpage_typography_color .color_chip__wrapper .color_chip_wrap .color_chip.secondary{width: 400px;background-color: #F2D084; color: #ffffff;}
.subpage_typography_color .color_chip__wrapper .color_chip_wrap .color_chip.neutral_color{width: 360px;background-color: #1A1A1A; color: #ffffff;}
.subpage_typography_color .color_chip__wrapper .color_chip_wrap .color_chip.offset_white{width: 220px;background-color: #F8F8F8; color: #1A1A1A;}

.subpage_gridsystem{padding: 200px 0; background-color: #f8f8f8;}

.subpage_main_design{padding: 200px 0; background-color: #FFF6F3; position: relative;}
.subpage_main_design::after{content: ''; position: absolute; background-image: url(../img/background_top_left.png); width: 855px; height: 489px; background-size: cover; background-position: center; background-repeat: no-repeat; top: 0; left: 0;}
.subpage_main_design::before{content: ''; position: absolute; background-image: url(../img/background_right.png); width: 399px; height: 1011px; background-size: cover; background-position: center; background-repeat: no-repeat; top: 50%; right: 0;}

.subpage_subpage_mockup{background-image: url(../img/subpage_mockup.png); width: 100%; height: 812px; background-position: center; background-repeat: no-repeat; background-size: cover;}

.subpage_sub_design{padding: 200px 0; background-color: #F9F8F8;}

.subpage_sub_pages{padding: 200px 0; background-color: #FFF6F3;}
.subpage_sub_pages .sub_pages__wrap{display: flex; flex-wrap: wrap; justify-content: space-between;}
.subpage_sub_pages .sub_pages__wrap li{width: 32.33%;}
.subpage_sub_pages .sub_pages__wrap li .sub_pages__list_top{margin-bottom: 80px;}
.subpage_sub_pages .sub_pages__wrap .title{padding-bottom: 24px;}
.subpage_sub_pages .sub_pages__wrap .imgwrap img{object-fit: cover; height: 100%;}

.subpage_footer{background-position: center center; background-size: cover; width: 100vw; height: 100vh; background-repeat: no-repeat;}
.subpage_footer.project1{background-image: url(../img/project1_footer__mockup.png);}

/* project2 */
.subpage_main.project2{background-image: url(../img/project2-main_background.png);}
.subpage_main.project2 .overview_right .img_wrap{background-image: url(../project2-Degyoung/project2_mockup_main.png);}
.subpage_intro.project2 .blue_color1{color: #91BDEC;}

.subpage_strategy.project2{background-color: #2D3E5F;}
.subpage_strategy.project2 .subpage_strategy__issue_txt{background-color: #3B4F73;}
.subpage_strategy .subpage_strategy__issue_txt::after{border-top: 20px solid #3B4F73;}

.subpage_typography_color.project2 .typography_item .typography_wrap, .subpage_typography_color.project2 .typography_item .typography_weight{width: 46%;}
.subpage_typography_color.project2 .typography_item .typography_wrap .tit18{width: 86%;}
.subpage_typography_color.project2 .point_esamanru{font-family: 'Isamanru';}

.subpage_subpage_mockup.project2{background-image: url(../img/subpage_mockup__project2.png);}
.subpage_typography_color.project2 .color_chip__wrapper .color_chip_wrap .color_chip.primary{background-color: #011D5A; color: #ffffff;}
.subpage_typography_color.project2 .color_chip__wrapper .color_chip_wrap .color_chip.secondary{background-color: #0080C0; color: #ffffff;}

.subpage_sub_design.project2{background-color: #F5F2EF;}

.subpage_sub_pages.project2{background-color: #2D3E5F;}
.subpage_sub_pages.project2 .title{color: #ffffff;}

.subpage_footer.project2{background-image: url(../img/subpage_footer_mockup__project2.png);}

.subpage_main.project3{background-image: url(../img/project3-main_background.png);}
.subpage_main.project3 .overview_right .img_wrap{background-image: url(../project3-dmt/projectpage_mainmockup__dmt.png);}
.subpage_intro.project3{background-image: url(../img/project3_intro.png);}

.subpage_strategy.project3{background-color: #2D4268;}
.subpage_strategy.project3 .subpage_strategy__issue_txt{background-color: #3F5682; color: #EFECEC;}
.subpage_strategy.project3 .subpage_strategy__issue_txt::after{    border-top: 20px solid #3F5682;}
.subpage_typography_color.project3 .typography_item .typography_wrap{width: 50%;}
.subpage_typography_color.project3 .typography_item .typography_weight{width: 30%;}
.subpage_typography_color.project3 .typography_item .typography_wrap .tit18{width: 85%;}
.subpage_typography_color.project3 .color_chip__wrapper .color_chip.primary{background-color: #4397D2;}
.subpage_typography_color.project3 .color_chip__wrapper .color_chip_wrap .color_chip.secondary{background-color: #7BAA17;}

.subpage_subpage_mockup.project3{background-image: url(../img/subpage_mockup__project3.png);}

.subpage_sub_pages.project3{background-color: #2D3E5F;}
.subpage_sub_pages.project3 .sub_pages__wrap .title{color: #ffffff;}

.subpage_footer.project3{background-image: url(../img/project3_footer__mockup.png);}

@media screen and (max-width:1199px){
    .side_nav_area{width: 17%;}
    .inner{margin-left: 29%;}
    .main_visual_area {display: block;position: relative;}
    .main_visual_area .main_info .img_area{width: 85%;}
    .main_visual_area .main_info .txt_box{position: absolute;background-color: rgba(255, 249, 247,.8);height: 346px;top: 261px;right: 40px;width: 37%;padding: 24px;}
    .main_visual_area .main_info .txt_box .title_area{height: 346px;}
    .about_me_area .profile .about_me_tit{padding-top: 21px;}
    .education_area .box{width: 35%;margin-top: 2%;}
    .education_area .education .edu h5{margin-top: 7%;}
    .education_area .education .edu .txt_box{width: 90%;line-height: 1.2;}
    .pro_area{padding-top: 5%;}
    .mockup{width: 500px;top: 50px;}
    .mockup a.hidden{width: 476px;height: 265px;top: 14px;left: 13px;}
    .left{left:10%;}
    .right{left: 50px;top: 420px;width: 100%;display: inline-block;}
    .term_area_wrap{display: flex;align-items: center;}
    .term_area_wrap .btn_wrap{padding-top: 30px;}
    .contact_area .contact_content {margin-right: 0px;width: 500px;}
}