@charset "UTF-8";
/* fonts */
.tit96{font-size: 6rem;}
.tit72{font-size: 4.5rem;}
.tit48{font-size: 3rem;}
.tit36{font-size: 2.25rem;}
.tit32{font-size: 2rem;}
.tit30{font-size: 1.875rem;}
.tit24{font-size: 1.5rem;}
.tit20{font-size: 1.25rem;}
.tit18{font-size: 1.125rem;}
.small{font-size: 0.875rem;}

.point_font__main{font-family: 'Cafe24 Dangdanghae';}
.point_font__sub{font-family: "Cafe24 Ohsquare";}
.en{font-family: "Montserrat", sans-serif;}

.strong{font-weight: 700;}

.primary_color{color: #088C7F;}
.point_color__orange{color: #DE7860;}

.side_nav_area{width: 20%;position: fixed;z-index: 1000;padding: 15px 25px;height: 100vh;background: rgba(255, 255, 255, 0.09);box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);backdrop-filter: blur(9.4px);-webkit-backdrop-filter: blur(9.4px);border: 1px solid rgba(255, 255, 255, 0.58);}
.content{margin:63px auto 50px;display: table;}
.content a {color: #fff;font-size: 4em;display: inline-block;}
.content a:nth-child(1) {color: transparent;-webkit-text-stroke: 3px #333;}
.content a:nth-child(2) {color: #fff;animation: animate 4s ease-in-out infinite;}
@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}
.side_nav_area>ul{text-align: center;}
.side_nav_area>ul li{margin: 10px;}
.side_nav_area hr{width: 30%;background-color: peachpuff;}
.side_nav_area .copyright p{text-align: center;margin-top: 20px;}
.side_nav_area .copyright p{text-align: center;margin-top: 20px;}
.side_nav_area li a{color: #333;display: inline-block;padding: 10px;font-weight: bold;width: 150px;height: 30px;text-align: center;line-height: 30px;position: relative;}
.side_nav_area li a::after{content: '';position: absolute;left: 5px;width: 150px;height: 2px;background: #3d3d3d;color: #cc9872;transform: scaleX(0);transition: all .5s;transform-origin: left;bottom: 0;}
ul li.active a::after,ul li a:hover::after{transform: scaleX(1);}

.main{width: 100vw;background: linear-gradient(180deg,rgba(239, 234, 226, 1) 0%, rgba(255, 255, 255, 1) 100%);height: 100vh;}
.main.section{padding: 0;}

.main_info{height: 100%;}
.main_info .main_info__txt{width: 100%;height: 100vh; display: flex; flex-direction: column; justify-content: center;}
.typing_container {color: #89B3A9;display: flex;align-items: center;font-size: 6rem; font-weight: 700;}
.Change:after {content: "|";margin-left: 5px;animation: blink 1s ease 0s normal infinite;color: #F7FFFD;}
@keyframes blink {
    0%,
    100% {
      color: #FFF9F7;
    }
    50% {
      color: transparent;
    }
}
.main .main_info__txt .text_wrap{line-height: 1.2;}
.main_info__txt .txt_wrap .slogun>p span{color: transparent;font-weight: bold;font-size: 6vmin;line-height: 9vmin;background: conic-gradient(#FFF9F7 12%, #89B3A9 12%,#89B3A9 33%,#F7FFFD 33%,#B3A19B 55%,#B3A19B 55%,#B3A19B 70%,#89B3A9 70%,#FFF9F7 87%,#F7FFFD 87%);background-size: 50%;background-clip: text;  -webkit-background-clip: text;animation: expand-rev 0.5s ease forwards;cursor: pointer;}
.main_info .txt_box .slogun>p span:hover {animation: expand 0.5s ease forwards;}
@keyframes expand {
  0% {
    background-size: 25%;
    background-position: 0 0;
  }
  20% {
    background-size: 50%;
    background-position: 0 1em;
  }
  100% {
    background-size: 400%;
    background-position: -10em -4em;
  }
}
  
@keyframes expand-rev {
  0% {
    background-size: 40%;
    background-position: -10em -4em;
  }
  20% {
    background-size: 50%;
    background-position: 0 1em;
  }
  100% {
    background-size: 25%;
    background-position: 0 0;
  }
}
.main_info .title_area h2{font-size: 3rem;}

.btn_wrap{padding-top: 50px; display: flex;}
.btn{box-shadow: 1px 1px 15px #d1d1d1; padding: 12px 24px;display: flex; font-weight: 600;font-size: 1.125rem; border-radius: 50px; width: 130px; border: 1px solid #088C7F;align-items: center; justify-content: space-between; margin-right: 10px;}
.btn .btn_icon{position: relative; width: 24px; height: 24px;}
.btn .btn_icon::after{position: absolute; content: ''; background-image: url(../img/arrow_right.png); display: inline-block; width: 24px; height: 24px;}

.section{width: 100%;position: relative; padding: 180px 0;}
.portfolio{display:flex;}

.section.about{background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(239, 234, 226, 1) 50%, rgba(255, 255, 255, 1) 100%);}
.section.about .about_wrapper{padding-bottom: 180px;}
.section.about .about_wrapper .point_font__main, .section.about .resume_wrapper .point_font__main{color: #333333;}
.section_subtit{margin-bottom: 60px;}
.section_subtit .tit18{border: 1px solid #088C7F; border-radius: 50px; padding: 8px 24px; color: #088C7F; width: 90px; text-align: center; margin-bottom: 12px;}

.about .about__bottom{display: flex;}
.about .about__bottom .about__bottom_left{width: 21.25%;}
.about .about__bottom .about__bottom_left .about__info_item{margin-bottom: 24px;}
.about .about__bottom .about__bottom_left .about__info_item .small{display: block; color: #666666; font-size: 1.125rem; font-weight: 400;}
.about .about__bottom .about__bottom_right{width: 70%;}
.about .about__bottom .about__bottom_right .about__txtarea{padding-bottom: 40px;}
.about .about__bottom .about__bottom_right .about__txtarea:nth-child(2){padding-bottom: 0px;}
.about .about__bottom .about__bottom_right .tit24{padding-bottom: 8px;}

.about .resume_wrapper .point_font__main{padding-bottom: 40px;}
.about .resume_wrapper .resume_education, .about .resume_wrapper .resume_work{margin-bottom: 80px;} 
.about .resume_wrapper .list_wrapper li{display: flex; border-top: 1px solid #CBCBCB; padding: 44px 0;}
.about .resume_wrapper .list_wrapper li:last-child{border-bottom: 1px solid #CBCBCB;}
.about .resume_wrapper .list_wrapper li .date{width: 20%; color: #666666;}
.about .resume_wrapper .list_wrapper li .title{width: 70%; font-weight: 700;}

.about .resume_wrapper .resume_tools .tools_list_wrap{display: flex; justify-content: space-between; flex-wrap: wrap;}
.about .resume_wrapper .resume_tools .tools_list_wrap li{width: 21.25%; border: 1px solid #D0D0D0; border-radius: 10px; display: flex; justify-content: center;  align-items: center; padding: 60px 0;}
.about .resume_wrapper .resume_tools .tools_list_wrap li:nth-child(-n+4){margin-bottom: 40px;}

/* project1 */
.project.section{background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(239, 234, 226, 1) 100%);}

.project .project_wrapper{display: flex; flex-wrap: wrap; justify-content: space-between;}
.project .project_wrapper .project_item{width: 48.5%; border: 1px solid #D0D0D0; border-radius: 20px; overflow: hidden;}
.project .project_wrapper .project_item:nth-child(-n+2){margin-bottom: 40px;}
.project .project_wrapper .project_item .content{padding: 30px 20px; display: block; margin: 0;}
.project .project_wrapper .project_item .content .content_title{margin-bottom: 24px;}
.project .project_wrapper .project_item .content .content_title .small{font-size: 0.875;}

.contact_area{padding: 80px 0; background: linear-gradient(180deg,rgba(239, 234, 226, 1) 0%, rgba(255, 255, 255, 1) 100%);}
.contact_area .contact_top{display: flex; justify-content: space-between; align-items: center}
.contact_area .contact_top .tit20{color: #666666;}
.contact_area .contact_txt{font-family: "DM Serif Display", serif; font-size: 10rem; font-weight: 600; margin-top: 200px; line-height: 1.2;}
.contact_area .contact_info{margin-top: 180px; text-align: right;}
.contact_area .contact_info .contact_info__list{display: flex; justify-content: flex-end; align-items: center;}
.contact_area .contact_info .contact_info__list .tit20{width: 5%; text-align: left;}

/* project page 헵시바f&b */
.subpage_main.project1{background-image: url(../img/hbfb-page_mainimg.png); width: 100%; height: 100vh; background-position: center center; background-repeat: no-repeat; background-size: cover;}
.subpage_main .inner{display: flex; justify-content: space-between; align-items: center; height: 100%;}
.subpage_main .overview_left{width: 39%; max-height: 657px; height: 100%; display: flex; flex-direction: column; justify-content: space-between;}
.subpage_main .overview_right{width: 55%;}
.subpage_main .overview_right .img_wrap{height: 556px;background-image: url(../project1-hfnb/hbfnb_mockup.png); background-size: cover; background-repeat: no-repeat; background-position: center center;}

.subpage_main .project_info_wrap li{display: flex; align-items: center; margin-bottom: 8px;}
.subpage_main .project_info_wrap li .project_info__title{font-weight: 600; width: 24%;}
.subpage_main .project_info_wrap li .project_info__program{display: flex;}
.subpage_main .project_info_wrap li .project_info__program li.icon{width: 48px; height: 48px; background-size: cover; background-position: center center; background-repeat: no-repeat;margin-bottom: 0;}
.subpage_main .project_info_wrap li .ai{background-image: url(../img/adobe_Illustrator_icon.png);}
.subpage_main .project_info_wrap li .ps{background-image: url(../img/adobe_Photoshop_icon.png);}
.subpage_main .project_info_wrap li .figma{background-image: url(../img/figma_icon.png);}
.subpage_main .project_info_wrap li .wordpress{background-image: url(../img/wordpress_icon.png);}

.subpage_intro{padding: 200px 0; background-image: url(../img/project1_intro.png); background-size: cover; background-repeat: no-repeat; background-position: center center; color: #ffffff; text-align: center;}
.subpage_intro .tit36{padding-bottom: 40px;}

.subpage_problem{padding: 200px 0; background-color: #F9F8F8;}
.subpage__titlewrap{display: flex; align-items: center; margin-bottom: 70px;}
.subpage__titlewrap .subpage__tit{padding-right: 40px;}
.subpage__titlewrap .subpage__txt{color: #555555;}
.subpage_problem__contentswrap .problem_item{display: flex; background-color: #ffffff; padding: 40px; border-radius: 20px; box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15); margin-bottom: 40px;}
.subpage_problem .subpage_problem__contentswrap .problem_item .problem_item__left{width: 11%;}
.subpage_problem .subpage_problem__contentswrap .problem_item .problem_item__left .tit{line-height: 1.2;}
.subpage_problem .subpage_problem__contentswrap .problem_item .problem_item__right{width: 86%;}
.subpage_problem .subpage_problem__contentswrap .problem_item .problem_item__right .tit24{padding-bottom: 16px;}
.subpage_problem .subpage_problem__contentswrap .problem_item .problem_item__right .problem_item__contents{color: #333333;}

.subpage_strategy{padding: 200px 0; background-color: #FFF6F3;}
.subpage_strategy .subpage_strategy__contentswrap{display: flex; justify-content: space-between; align-items: center;}
.subpage_strategy .subpage_strategy__contentswrap .subpage_strategy__swot{display: flex; flex-wrap: wrap; max-width: 840px; justify-content: space-between;}
.subpage_strategy .subpage_strategy__contentswrap .subpage_strategy__swot li{padding: 20px; background-color: #ffffff; border-radius: 20px; box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15); width: 42.5%; height: 210px;}
.subpage_strategy .subpage_strategy__contentswrap .subpage_strategy__swot li:nth-child(-n+2){margin-bottom: 40px;}
.subpage_strategy .subpage_strategy__contentswrap .subpage_strategy__swot .subpage_strategy__swot_top{display: flex; align-items: center; border-bottom: 1px solid #A3A3A3; padding-bottom: 12px;}
.subpage_strategy .subpage_strategy__contentswrap .subpage_strategy__swot .subpage_strategy__swot_top .tit30{padding-right: 12px;}
.subpage_strategy .subpage_strategy__contentswrap .subpage_strategy__swot li .subpage_strategy__swot_bottom{padding-top: 25px;}
.subpage_strategy .subpage_strategy__contentswrap .subpage_strategy__swot li .subpage_strategy__swot_bottom .swot_bottom__item{display: flex; align-items: center;}
.subpage_strategy .subpage_strategy__contentswrap .subpage_strategy__swot li .subpage_strategy__swot_bottom .swot_bottom__item::before{content: ''; width: 5px; height: 5px; background-color: #333333; border-radius: 50px; margin-right: 12px;}
.subpage_strategy .subpage_strategy__contentswrap .arrow_wrap, .subpage_solution .subpage_solution__contentwrapper .arrow_wrap{content: ''; display: block; width: 34px; height: 34px; background-image: url(../img/sub_arrow__right.png); background-size: cover; background-position: center center; background-repeat: no-repeat;}
.subpage_strategy .subpage_strategy__contentswrap .subpage_strategy__result{width: 400px; height: 460px; background-color: #DE7860; color: #ffffff; padding: 40px; border-radius: 20px;}

.subpage_solution{background-color: #F9F8F8; padding: 200px 0;}
.subpage_solution .subpage_solution__contentwrapper{display: flex; align-items: center; justify-content: space-around;}
.subpage_solution .subpage_solution__contentwrapper .subpage_solution__definnitions .subpage_solution__definnitions_list li{background-color: #FFFCF9; border-radius: 20px; box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15); width: 380px; height: 150px; margin-bottom: 40px; display: flex; align-items: center; justify-content: center;}
.subpage_solution .subpage_solution__solutionswrapper .subpage_solution__solutions_list li{background-color: #DE7860; color: #ffffff; border-radius: 20px; width: 580px; height: 70px; display: flex; align-items: center; justify-content: center; padding: 40px; margin-bottom: 40px; box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15); }
.subpage_solution .subpage_solution__contentwrapper .tit24{margin-bottom: 40px; color: #333333; text-align: center;}

.subpage_persona{padding: 200px 0; background-color: #FFF6F3;}
.subpage_persona .subpage__titlewrap{margin-bottom: 180px;}
.subpage_persona .subpage_persona__item{display: flex; padding: 60px 20px; background-color: #ffffff; box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15); border-radius: 20px; margin-bottom: 120px;}
.subpage_persona .subpage_persona__item .persona_item__profile_wrap{width: 47.5%; position: relative; display: flex; flex-direction: column;  justify-content: flex-end;}
.subpage_persona .subpage_persona__item .persona_item__profile_wrap .profile_img{width: 277px; height: 277px; display: inline-block; background-position: center center; background-size: cover; background-repeat: no-repeat;position: absolute; content: ''; top: -150px;}
.subpage_persona .subpage_persona__item.persona1 .persona_item__profile_wrap .profile_img{background-image: url(../img/profile1.png);}
.subpage_persona .subpage_persona__item.persona2 .persona_item__profile_wrap .profile_img{background-image: url(../img/profile2.png);}
.subpage_persona .subpage_persona__item .persona_item__profile_wrap .profile_content{padding-left: 40px;}
.subpage_persona .subpage_persona__item .persona_item__profile_wrap .profile_content .tit24{margin-bottom: 16px;}
.subpage_persona .subpage_persona__item .persona_item__profile_wrap .profile_content .name{margin-bottom: 4px;}
.subpage_persona .subpage_persona__item .persona_item__profile_wrap .profile_content .job{padding-bottom: 16px;}
.subpage_persona .subpage_persona__item .persona_item__profile_wrap .profile_content .tag_wrap{display: flex;}
.subpage_persona .subpage_persona__item .persona_item__profile_wrap .profile_content .tag_wrap .tag{background-color: #F8FBFD; border-radius: 50px; color: #08578C; font-weight: 700; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); padding: 7px 27px; margin-right: 8px;}
.subpage_persona .subpage_persona__item .persona_item__data_wrap{width: 100%;}
.subpage_persona .subpage_persona__item .persona_item__data_wrap .pain_needs_wrap{display: flex;}
.subpage_persona .subpage_persona__item .persona_item__data_wrap .scenario_wrap{margin-bottom: 54px;}
.subpage_persona .subpage_persona__item .persona_item__data_wrap .scenario_wrap .senario_content{color: #555555;}
.persona_item__data_wrap .painpoint_wrap{margin-right: 40px;}
.persona_item__data_wrap .tit20{padding-bottom: 12px;}
.persona_item__data_wrap .pain_needs_wrap .list_wrap li{position: relative; display: flex; align-items: center; padding-left: 16px; color: #555555;}
.persona_item__data_wrap .pain_needs_wrap .list_wrap li::after{position: absolute; content: ''; width: 6px; height: 6px; background-color: #088C7F; border-radius: 20px; left: 0;}

@media screen and (max-width:1199px){
    .side_nav_area{width: 17%;}
    .inner{margin-left: 29%;}
    .main_visual_area {display: block;position: relative;}
    .main_visual_area .main_info .img_area{width: 85%;}
    .main_visual_area .main_info .txt_box{position: absolute;background-color: rgba(255, 249, 247,.8);height: 346px;top: 261px;right: 40px;width: 37%;padding: 24px;}
    .main_visual_area .main_info .txt_box .title_area{height: 346px;}
    .about_me_area .profile .about_me_tit{padding-top: 21px;}
    .education_area .box{width: 35%;margin-top: 2%;}
    .education_area .education .edu h5{margin-top: 7%;}
    .education_area .education .edu .txt_box{width: 90%;line-height: 1.2;}
    .pro_area{padding-top: 5%;}
    .mockup{width: 500px;top: 50px;}
    .mockup a.hidden{width: 476px;height: 265px;top: 14px;left: 13px;}
    .left{left:10%;}
    .right{left: 50px;top: 420px;width: 100%;display: inline-block;}
    .term_area_wrap{display: flex;align-items: center;}
    .term_area_wrap .btn_wrap{padding-top: 30px;}
    .contact_area .contact_content {margin-right: 0px;width: 500px;}
}