@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Noto+Sans+KR:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* fonts */
.tit96{font-size: 6rem;}
.tit80{font-size: 5rem;}
.tit72{font-size: 4.5rem;}
.tit64{font-size: 4rem;}
.tit48{font-size: 3rem;}
.tit40{font-size: 2.5rem;}
.tit36{font-size: 2.25rem;}
.tit32{font-size: 2rem;}
.tit30{font-size: 1.875rem;}
.tit24{font-size: 1.5rem;}
.tit20{font-size: 1.25rem;}
.tit18{font-size: 1.125rem;}
.small{font-size: 0.875rem;}

.en{font-family: "Public Sans", sans-serif;}
.en2{font-family: "Cormorant", serif;}
.point_font{font-family: 'Noto sans Kr', sans-serif; font-weight: 700;}
.strong{font-weight: 800;}

.point_color__orange{color: #DE7860;}
.point_color__blue2{color: #1D4F91;}

/* layout */
body{font-family: "Noto Sans KR", sans-serif; font-size: 1rem; line-height: 1.6; color: #111111;}
.wrap{position: relative; margin: 0 auto; overflow: hidden; background: #000000; color: #ffffff;}

/* header */
header{width: 100%; position: fixed; left: 0; top: 0; background-color: rgba(0,0,0, .5); z-index: 100; padding: 30px 60px; box-sizing: border-box; display: flex; justify-content: space-between;}
header.active{transform: translateY(-100%);}
header .logo{color: #ffffff; font-size: 1.25rem;}
header .menuOpen{display: none; transition: .3s;}
.gnb ul{display: flex; justify-content: space-between;}
.gnb ul li{margin-left: 70px;}

/* gnb hover */
.gnb ul li a .char{display: inline-block; position: relative; color: transparent; overflow: hidden; font-size: 1.125rem;}
.gnb ul li a .char:before, .gnb ul li a .char::after{position: absolute; top: 0; left: 0; opacity: .6; color: #ffffff; content: attr(data-char); transition: transform .35s; transition-delay: calc(30ms * var(--char-index));}

.gnb ul li a .char::before{transform: translateY(100%);}
.gnb ul li a:hover .char::before{transform: translateY(0%); opacity: 1;}
.gnb ul li a:hover .char::after{transform: translateY(-100%);}

/* visual */
.visual{width: 100%; height: 100vh; padding-top: 125px; box-sizing: border-box; position: relative; letter-spacing: -1px;}
.visual .maintext{font-size: 140px; font-weight: 400; line-height: 1.2; margin: 0 0 100px 60px; display: inline-block;}
.visual .maintext p{overflow: hidden;}
.visual .subtext{margin-left: 20%;}
.visual .scroll{position: fixed; left: 60px; bottom: 40px;}
.visual .svgani{position: absolute; right: -2%; top: -45%; width: 100%; transform: rotate(-3deg);}

/* animation */
.visual.motion .maintext{transform: translate3d(0,0,0) skewY(0deg); overflow: hidden;}
.visual.motion .maintext p span{display: block; animation-name: textAni; animation-duration: 1.8s;}
.visual.motion .maintext p:nth-child(2) span{animation-duration: 1.7s;}
.visual.motion .maintext p:nth-child(3) span{animation-duration: 1.5s;}

@keyframes textAni{
    0% {opacity: 0;}
    30% {opacity: 0; transform: translate3d(0, -90px, 0) skewY(-10deg); transform-origin: top left;}
}
@keyframes textani2{
    0%{opacity: 0;}
    30%{opacity: 0;}
}

.visual.motion .subtext{animation-name: textani2; animation-duration: 2.3s;}
.visual .textLoop ul{display: flex; white-space: nowrap; font-size: 100px; letter-spacing: -2px;}
.visual .textLoop ul li{animation: textLoop 6s linear infinite; padding: 0 20px;}
@keyframes textLoop {
    0%{transform: translate3d(0,0,0);}    
    100%{transform: translate3d(-100%,0,0);}    
}

/* section.con01 */
.con01{width: 100vw; height: 100vh; position: relative; padding: 120px 0 0;}
.con01 .inner .text_wrap{display: flex; align-items: center;justify-content: space-between;}
.con01 .section_title{padding-bottom: 40px;}
.con01 .img_box{width: 33%;}
.con01 .text_box{width: 60%;}
.con01 .text_box .title{padding-bottom: 24px;}
.con01 .text_box .txt{padding-bottom: 80px;}
.con01 .text_box .btn_wrap{padding: 12px 24px; border-radius: 50px; background-color: #BAD7E9; color: #111111; position: relative; width: 146px;}
.con01 .text_box .btn_wrap::after{position: absolute; content: ''; background-image: url(../img/arrow-right.png); background-repeat: no-repeat; background-position: center; width: 24px; height: 24px; display: inline-block; top: 50%; transform: translateY(-50%); padding-left: 24px;}

/* section.con02 */
.con02{width: 100%; height: 100vh; position: relative;}
.con02 .text_wrap{width: 70%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 2;}
.con02 .text_wrap .title, .con01 .section_title{font-size: 5rem;}
.con02 .text_wrap .title .txt, .con01 .title .txt{font-size: 1.25rem;} 

.con02 .list{display: flex; flex-wrap: nowrap; padding: 6% 0;}
.con02 .list li{width: 270px; height: 370px; padding: 24px; flex-shrink: 0 !important; border: 1px solid #ffffff; border-radius: 20px; margin-right: 40px;}
.con02 .list li .box{width: 100%; height: 100%; overflow: hidden; position: relative;}
.con02 .list li .box::after{content: ''; width: 100%; height: 100%; position: absolute; background: url(../img/ex_4/sticker.png) no-repeat center/130px; left: 50%; top: 0; transform: translateX(-50%); opacity: 0; transition: .5s;}
.con02 .list li .box img{width: 100%;}
.con02 .list li .box:hover img{transform: scale(.98); filter: brightness(60%);}
.con02 .list li .box:hover::after{opacity: .5;}
.con02 .btn_wrap{position: absolute; right: -50%; top: 60%; z-index: 3;}
.con02 .btn_wrap a{display: block; width: 170px; height: 170px; border-radius: 100%; border: 2px solid #ffffff; position: relative; box-sizing: border-box; transition: .5s;}
.con02 .btn_wrap a img{width: 22%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%) rotate(45deg);}
.con02 .btn_wrap a img:nth-child(2){opacity: 0;}
.con02 .btn_wrap a::before{content: ''; width: 0; height: 0; border-radius: 100%; background: #ffffff url(../img/readMore3.png) no-repeat center/158px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); animation-name: spin; animation-duration: 10s; animation-iteration-count: infinite; animation-timing-function: linear; transition: .4s;}
.con02 .btn_wrap a:hover{border: transparent;}
.con02 .btn_wrap a:hover img:nth-child(2){opacity: 1;}
.con02 .btn_wrap a:hover::before{width: 100%; height: 100%;}

/* simplyScroll */
.simply-scroll .simply-scroll-clip{overflow: hidden; transform: rotate(5deg) translate(150%, 400px) scale(1.1); opacity: 0;}
.simply-scroll .simply-scroll-clip .simply-scroll-list li{float: left; width: 400px; filter: brightness(50%);}
.simply-scroll .simply-scroll-clip .simply-scroll-list li img{width: 100%;}

/* simplyScroll.motion */
.con02.motion .simply-scroll .simply-scroll-clip{transform: rotate(5deg) translate(0%, 400px) scale(1.1); opacity: 1; transition: 1.2s; transition-duration: .3s;}
.con02.motion .btn_wrap{right: 50%; transition: 1.2s;}
.con02.motion .text_wrap ul li div.text{animation-name: textAni; animation-duration: 1.3s;}

/* section.con3 */
.con03 .title{width: 100%; height: 100vh; font-size: 170px; line-height: 0.9; text-align: center; padding-top: 30vh; box-sizing: border-box; line-height: 1;}
.con03 .title .en2{font-size: 220px;}
.con03 .work_list{width: 70%; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: space-between;}
.con03 .work_list li{width: 45%; margin-top: 200px; height: 500px;}
.con03 .work_list li:nth-child(2n){margin-top: 0;}
.con03 .work_list li a{display: block;}
.con03 .work_list li a .img_box img{width: 100%;}
.con03 .work_list li a .textbox h3{font-size: 35px; font-weight: normal; margin: 20px 0 5px;}
.con03 .work_list li a .textbox .info{display: flex; justify-content: space-between; color: #888888;}

/* con03 work_list hover */
.con03 .work_list li a .img_box{position: relative;}
.con03 .work_list li a .img_box::before{content: ''; width: 168px; height: 168px; border-radius: 100%; border: 1px solid #ffffff; background: url(../img/readMore2.png) no-repeat center/35px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%) rotate(45deg); z-index: 1; transition: all .3s; opacity: 0;}
.con03 .work_list li a .img_box::after{content: ''; width: 0px; height: 0px; border-radius: 100%; background: #ffffff url(../img/readMore3.png) no-repeat center/ 160px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); transition: .4s; z-index: 1;
    animation-name: spin; 
    -webkit-animation-name: spin; 
    animation-duration: 10s; 
    -webkit-animation-duration: 10s; 
    animation-iteration-count: infinite; 
    -webkit-animation-iteration-count: infinite; 
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}

@keyframes spin{
    0% {transform: translate(-50%, -50%) rotate(0deg);}
    100% {transform: translate(-50%, -50%) rotate(360deg);}
}
.con03 .work_list li a:hover .img_box::before{opacity: 1; z-index: 2;}
.con03 .work_list li a:hover .img_box::after{width: 168px; height: 168px;}
.con03 .work_list li a:hover .img_box img{filter: brightness(50%);}


footer{width: 100%; position: relative; height: 100vh; margin-top: 200px;}
footer .text_wrap{position: absolute; width: 100%; top: 30%; padding: 0 60px; box-sizing: border-box; font-size: 160px; line-height: 1; letter-spacing: -1px;}
footer .text_wrap .title{font-size: 20px; margin-bottom: 30px; padding-left: 15px;}
footer .text_wrap .contact{margin-bottom: 10px;}
footer .text_wrap a{display: block; margin-top: -30px;}
footer .bottom{position: absolute; bottom: 5%; width: 100%; display: flex; justify-content: space-between; padding: 0 60px; box-sizing: border-box; font-size: 30px; letter-spacing: -1px;}
footer .bottom .sns{display: flex;}
footer .bottom .sns li{margin-right: 30px;}

/* project1 - 헵시바f&b */
.subpage_main{width: 100%; height: 100vh; background-position: center center; background-repeat: no-repeat; background-size: cover;}
.subpage_main .inner{display: flex; justify-content: space-between;  align-items: center;}
.subpage_main.project1{background-image: url(../img/hbfb-page_mainimg.png);}
.subpage_main .overview_left{width: 39%;}
.subpage_main .overview_left .tit64{padding-bottom: 36px;     line-height: 1;}
.subpage_main .overview_left .project_detail_wrap{padding-bottom: 36px;}
.subpage_main .overview_right{width: 55%;}
.subpage_main .overview_right .img_wrap{background-size: cover; background-repeat: no-repeat; background-position: center center;height: 450px;}
.subpage_main.project1 .overview_right .img_wrap{background-image: url(../img/project1-hfnb/projectpage_mainmockup__hb.png);}

.subpage_main .project_info_wrap li{display: flex; align-items: center; margin-bottom: 8px;}
.subpage_main .project_info_wrap li .project_info__title{font-weight: 600; width: 24%;}
.subpage_main .project_info_wrap li .project_info__program{display: flex;}
.subpage_main .project_info_wrap li .project_info__program li.icon{width: 36px; height: 36px; background-size: cover; background-position: center center; background-repeat: no-repeat;margin-bottom: 0;}
.subpage_main .project_info_wrap li .ai{background-image: url(../img/adobe_Illustrator_icon.png);}
.subpage_main .project_info_wrap li .ps{background-image: url(../img/adobe_Photoshop_icon.png);}
.subpage_main .project_info_wrap li .figma{background-image: url(../img/figma_icon.png);}
.subpage_main .project_info_wrap li .wordpress{background-image: url(../img/wordpress_icon.png);}

.subpage_intro{padding: 200px 0; background-image: url(../img/project1-hfnb/project1_intro.png); background-size: cover; background-repeat: no-repeat; background-position: center center; color: #ffffff; text-align: center;}
.subpage_intro .tit36{padding-bottom: 40px;}

.subpage_interview{padding: 200px 0; background-color: #F9F8F8;}
.subpage__titlewrap{display: flex; align-items: center; margin-bottom: 70px;}
.subpage__titlewrap .subpage__tit{padding-right: 40px;}
.subpage__titlewrap .subpage__txt{color: #555555;}
.subpage_interview__contents_wrap{display: flex; justify-content: space-between;}
.subpage_interview__contents_wrap .problem_item{display: flex; background-color: #ffffff; padding: 0 40px; border-radius: 20px; box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15); flex-direction: column; align-items: center; width: 25.75%; text-align: center; height: 350px; justify-content: center; transition: all .3s;}
.subpage_interview__contents_wrap .problem_item:hover{transform: translateY(-10px);}
.subpage_interview__contents_wrap .problem_item .problem_item__top{padding-bottom: 40px; line-height: 1.2;}

.subpage_strategy{padding: 200px 0; background-color: #C97561;}
.subpage_strategy .subpage__titlewrap .subpage__tit, .subpage_strategy .subpage__titlewrap .subpage__txt{color: #EFECEC;}
.subpage_strategy .subpage_strategy__issue_txt{width: 400px; height: 110px; position: relative; background-color: #AD5D4B; border-radius: 20px; color: #ffffff; padding: 20px; text-align: center; display: flex; align-items: center; margin-bottom: 44px; box-shadow: 0 1px 10px rgba(99, 54, 44, 0.2); justify-content: center;}
.subpage_strategy .subpage_strategy__issue_txt::after{position: absolute;     content: ""; border-top: 20px solid #AD5D4B;border-left: 20px solid transparent;border-right: 20px solid transparent;border-bottom: 0px solid transparent;bottom: -22px;left: 50%;transform: translateX(-50%) translateY(-50%);}
.subpage_strategy.project1 .subpage_strategy__issue_txt::after{border-top: 20px solid #AD5D4B;}
.subpage_strategy .subpage_strategy__solution_wrap{display: flex; justify-content: space-between;}
.subpage_strategy .subpage_strategy__solution_wrap .subpage_strategy__solution_txt{width: 400px; height: 210px; padding: 20px; text-align: center; background-color: #ffffff; border-radius: 20px; display: flex; flex-direction: column; justify-content: center; box-shadow: 0 1px 10px rgba(99, 54, 44, 0.2); transition: all .3s;}
.subpage_strategy .subpage_strategy__solution_wrap .subpage_strategy__solution_txt:hover{transform: translateY(-10px);}
.subpage_strategy .subpage_strategy__solution_wrap .subpage_strategy__solution_txt .small_tit{padding-bottom: 12px;}
.subpage_strategy .subpage_strategy__solution_wrap .subpage_strategy__solution_txt .tit32{padding-bottom: 4px;}


.subpage_typography_color{padding: 200px 0; background-color: #F9F8F8;}
.subpage_typography_color .typography_item{display: flex; margin-bottom: 80px;}
.subpage_typography_color .typography_item.main_type{font-family: "Noto Sans KR", sans-serif;}
.subpage_typography_color .typography_item .subtitle{width: 9%; padding-top: 1.2%;}
.subpage_typography_color .typography_item .typography_wrap, .subpage_typography_color .typography_item .typography_weight{width: 40%; color: #333333;}
.subpage_typography_color .typography_item .typography_weight{line-height: 1.2;}
.subpage_typography_color .typography_item .typography_wrap .tit18{width: 78.5%;}
.subpage_typography_color .typography_item .typography_weight .light{font-weight: 300;}
.subpage_typography_color .typography_item .typography_weight .bold{font-weight: 700;}

.subpage_typography_color .typography_item.point_type{font-family: "Cafe24 Ssurround", sans-serif; margin-bottom: 0;}
.subpage_typography_color .typography_item.point_type .subtitle{font-family: 'SUIT', sans-serif;}
.subpage_typography_color .typography_item.point_type .typography_wrap .tit18{font-family: 'SUIT', sans-serif; letter-spacing: -1.5px;}
.subpage_typography_color .color_chip__wrapper{margin-top: 180px;}
.subpage_typography_color .color_chip__wrapper .color_chip_wrap {display: flex; box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15); border-radius: 10px; overflow: hidden;}
.subpage_typography_color .color_chip__wrapper .color_chip_wrap .color_chip{height: 170px; padding: 20px; display: flex; flex-direction: column;     justify-content: space-between;}
.subpage_typography_color .color_chip__wrapper .color_chip_wrap .color_chip.primary{width: 440px;background-color: #DE7860; color: #ffffff;}
.subpage_typography_color .color_chip__wrapper .color_chip_wrap .color_chip.secondary{width: 400px;background-color: #F2D084; color: #ffffff;}
.subpage_typography_color .color_chip__wrapper .color_chip_wrap .color_chip.neutral_color{width: 360px;background-color: #1A1A1A; color: #ffffff;}
.subpage_typography_color .color_chip__wrapper .color_chip_wrap .color_chip.offset_white{width: 220px;background-color: #F8F8F8; color: #1A1A1A;}

.subpage_gridsystem{padding: 200px 0; background-color: #f8f8f8;}

.subpage_main_design{padding: 200px 0; background-color: #FFF6F3; position: relative;}
.subpage_main_design::after{content: ''; position: absolute; background-image: url(../img/background_top_left.png); width: 855px; height: 489px; background-size: cover; background-position: center; background-repeat: no-repeat; top: 0; left: 0;}
.subpage_main_design::before{content: ''; position: absolute; background-image: url(../img/background_right.png); width: 399px; height: 1011px; background-size: cover; background-position: center; background-repeat: no-repeat; top: 50%; right: 0;}
.subpage_main_design .subpage__titlewrap, .subpage_sub_design .subpage__titlewrap{flex-direction: column; text-align: center;}
.subpage_main_design .subpage__titlewrap .subpage__tit, .subpage_sub_design .subpage__titlewrap .subpage__tit{padding-bottom: 8px; padding: 0 0 8px;}

.subpage_subpage_mockup{background-image: url(../img/project1-hfnb/subpage_mockup.png); width: 100%; height: 812px; background-position: center; background-repeat: no-repeat; background-size: cover;}

.subpage_sub_design{padding: 200px 0; background-color: #F9F8F8;}

.subpage_sub_pages{padding: 200px 0; background-color: #FFF6F3;}
.subpage_sub_pages .sub_pages__wrap{display: flex; flex-wrap: wrap; justify-content: space-between;}
.subpage_sub_pages .sub_pages__wrap li{width: 32.33%;}
.subpage_sub_pages .sub_pages__wrap li .sub_pages__list_top{margin-bottom: 80px;}
.subpage_sub_pages .sub_pages__wrap .title{padding-bottom: 24px;}
.subpage_sub_pages .sub_pages__wrap .imgwrap img{object-fit: cover; height: 100%;}

/* project2 - 대경산전 */
.subpage_main.project2{background-image: url(../img/project2-Degyoung/project2-main_background.png);}
.subpage_main.project2 .overview_right .img_wrap{background-image: url(../img/project2-Degyoung/project2_mockup_main.png);}
.subpage_intro.project2 .blue_color1{color: #91BDEC;}
.subpage_intro.project2{background-image: url(../img/project2-Degyoung/project2_background.png);}

.subpage_strategy.project2{background-color: #2D3E5F;}
.subpage_strategy.project2 .subpage_strategy__issue_txt{background-color: #3B4F73;}
.subpage_strategy .subpage_strategy__issue_txt::after{border-top: 20px solid #3B4F73;}

.subpage_typography_color.project2 .typography_item .typography_wrap, .subpage_typography_color.project2 .typography_item .typography_weight{width: 46%;}
.subpage_typography_color.project2 .typography_item .typography_wrap .tit18{width: 86%;}
.subpage_typography_color.project2 .point_esamanru{font-family: 'Isamanru';}

.subpage_subpage_mockup.project2{background-image: url(../img/project2-Degyoung/subpage_mockup__project2.png);}
.subpage_typography_color.project2 .color_chip__wrapper .color_chip_wrap .color_chip.primary{background-color: #011D5A; color: #ffffff;}
.subpage_typography_color.project2 .color_chip__wrapper .color_chip_wrap .color_chip.secondary{background-color: #0080C0; color: #ffffff;}

.subpage_sub_design.project2{background-color: #F5F2EF;}

.subpage_sub_pages.project2{background-color: #2D3E5F;}
.subpage_sub_pages.project2 .title{color: #ffffff;}

/* project3 - DMT */

.subpage_main.project3{background-image: url(../img/project3-dmt/project3-main_background.png);}
.subpage_main.project3 .overview_right .img_wrap{background-image: url(../img/project3-dmt/projectpage_mainmockup__dmt.png);}
.subpage_intro.project3{background-image: url(../img/project3-dmt/project3_intro.png);}

.subpage_strategy.project3{background-color: #2D4268;}
.subpage_strategy.project3 .subpage_strategy__issue_txt{background-color: #3F5682; color: #EFECEC;}
.subpage_strategy.project3 .subpage_strategy__issue_txt::after{    border-top: 20px solid #3F5682;}
.subpage_typography_color.project3 .typography_item .typography_wrap{width: 50%;}
.subpage_typography_color.project3 .typography_item .typography_weight{width: 30%;}
.subpage_typography_color.project3 .typography_item .typography_wrap .tit18{width: 85%;}
.subpage_typography_color.project3 .color_chip__wrapper .color_chip.primary{background-color: #4397D2;}
.subpage_typography_color.project3 .color_chip__wrapper .color_chip_wrap .color_chip.secondary{background-color: #7BAA17;}

.subpage_subpage_mockup.project3{background-image: url(../img/project3-dmt/subpage_mockup__project3.png);}

.subpage_sub_pages.project3{background-color: #2D3E5F;}
.subpage_sub_pages.project3 .sub_pages__wrap .title{color: #ffffff;}

/* responsive Wep */
/* pc 1650px ~ 1301px*/
@media screen and (max-width:1650px){
    .visual .svgani{top: 17%;}
    .visual .subtext{margin-left: 10%;}
    .con03.motion .btn_wrap{right: 10%;}
}

/* 1300px ~ 1025px */
@media screen and (max-width:1300px){
    .visual .maintext{font-size: 11vw; width: 100%;}
    .visual .svgani{top: 39%; width: 47%;}
    .visual .subtext{margin-left: 0; width: 100%; padding: 0 5%; box-sizing: border-box; position: absolute; left: 0; bottom: 8%;}

    footer .text_wrap{font-size: 100px;}
}

/* 1024px ~ 801px */
@media screen and (max-width:1024px){
    .visual .subtext{bottom: 11%;}

    .con01 .title h2{font-size: 7vw;}
    .con02 .title{font-size: 18vw;}
    .con02 .work_list{width: 90%;}
    .con03 .text_wrap{width: 85%;}
    .con03 .text_wrap ul li{font-size: 8vw;}

    footer .text_wrap, footer .text_wrap a{font-size: 8vw;}
    footer .bottom{font-size: 20px;}
}

/* 800px ~ 501px */
@media screen and (max-width:800px){
    .wrap{font-size: 1rem;}
    header{padding: 3% 5%;}
    header .menuOpen{display: block; position: relative; width: 32px; height: 10px; margin-top: 10px; transition: top .5s; z-index: 101;}
    header .menuOpen span.a{position: absolute; left: 0; top: 0; width: 100%; height: 1px; background: #ffffff; transition: .3s;}
    header .menuOpen span.b{position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background: #ffffff; transition: .3s;}
    .gnb{position: fixed; width: 0%; height: 0%; overflow: hidden; background-color: #ffffff; left: 0; top: -100%; color: #000000; z-index: 100; transition: top .5s;}
    .gnb ul {display: block; width: 80%; margin: 20% auto;}
    .gnb ul li{margin-left: 0;}
    .gnb ul li a{font-size: 18vw; line-height: 1.4; letter-spacing: -1px;}
    .gnb ul li:nth-child(2) a{font-family: 'Cormorant Infant', serif;}
    .gnb ul li a .char{color: #000000; overflow: inherit;}
    .gnb ul li a .char::before,.gnb ul li a .char::after{display: none;}

    /* menuOpen */
    .gnb.on{width: 100%; height: 100vh; top: 0;}
    .body.on{overflow: hidden;}
    header .menuOpen.on span.a{background-color: #000000; transform: rotate(45deg) translate(5px, 5px);}
    header .menuOpen.on span.b{background-color: #000000; transform: rotate(-45deg) translate(2px, -1px);}

    .con02 .work_list li{width: 100%; margin-top: 0; margin-bottom: 30px;}
    .con02 .work_list li a .img_box::before, .con02 .work_list li a .img_box::after{display: none;}
    .con02 .title .en2, .con03 .title{font-size: 20vw;}

    .con03.motion .btn_wrap a{width: 90px; height: 90px;}
    .con3.motion .btn_wrap a::before{display: none;}
    .con3.motion .btn_wrap a:hover{border-color: #ffffff ;}
    .con3.motion .btn_wrap a img:nth-child(2){display: none;}

    .simply-scroll .simply-scroll-clip .simply-scroll-list li{width: 200px;}

    footer .text_wrap{width: 90%; padding: 0; left: 50%; top: 50%; transform: translate(-50%, -50%);}
    footer .text_wrap .title{padding: left;}
    footer .text_wrap .contact{margin-bottom: 40px;}
} 
/* 500px ~ 401px */
@media screen and (max-width:500px){
    br.mo{display: none;}
    .visual {padding-top: 100px;}
    .visual .maintext{margin: 0 0 150px 25px;}
    .visual .subtext{bottom: 10%;}
    .con03 .text_wrap ul li.en2{padding-left: 10px;}
    footer .bottom{font-size: 17px; padding: 0 40px;}
    footer .bottom .sns li{margin-right: 10px;}
} 